div(class="mx-10 mb-10 flex flex-col bg-black max-w-[900px] relative")
    div(class="relative image-container")
        img(class='m-auto w-2/3 p-10 h-auto' src="/images/monthly_wrap_up_banner.png")
        div(class="hover-div flex justify-center items-center")
            img(class="w-[45px] opacity-80" src="/images/writing.png")
        a(href=`${post.url}` class='absolute w-full h-full top-0 left-0') 
    hr(class="border-t-2 border-accent-faded border-dotted")
    a(href="/monthly-wrap-ups" class="p-2 text-purple-400") MONTHLY WRAP UPS
    a(href=`${post.url}` class='text-4xl overflow-hidden whitespace-nowrap text-ellipsis bg-accent p-5') #{post.month} Wrap Up
    div(class="flex m-2")
        a(class="m-2" href=`${post.url}`) #{moment(post.timestamp).format("MMM Do")}
        a(class="m-2" href="/author/maria") MARIA @ GARDENOFPAGES
        a(class="m-2" href=`${post.url}/#comments`) #{post.comments.length} COMMENTS
    hr(class="border-t-2 border-accent-faded border-dotted mb-5")
    if post.books.length !== 0
        div(class="text-center") books I read in #{post.month}
        div(class="flex flex-wrap justify-evenly items-center m-5")
            each book in post.books
                div
                    div(class="bg-accent-faded w-[150px] h-[200px] flex justify-center items-center m-4")
                        img(class='w-auto h-[150px]' src=he.decode(book.book_cover_url))
                    //- a(href=book.url class="text-lg bg-accent p-2") #{book.title}
                    //- p By: #{book.author}
        hr(class="border-t-2 border-accent-faded border-dotted my-5")
    if post.summary
        img(src="/images/my_thoughts.png" class="w-2/3 mx-auto my-5")
        div(class="post-summary text-xl p-10")!=he.decode(post.summary)
    img(class="w-1/3 h-auto mx-auto my-10" src="/images/kitty_sm.png")
    div(class="h-min p-5 flex justify-end")
        a(class="bg-accent rounded p-2 m-2 text-lg hover:opacity-80" href=post.url) Read More

