extends ./shared/navbar-content.pug

block content

    div(class="flex flex-col mx-auto w-[60%] min-w-[500px] max-w-[1000px] p-4 min-h-[calc(100vh-330px)]")
        div(class="text-4xl m-10 text-center") A Review of #{review.book.title} by #{review.book.author}
        div
            div
                img(src=he.decode(review.book.book_cover_url), class="shadow-lg float-left w-[200px] m-5")
            div(class="flex items-center m-5")
                div(class="text-2xl text-center") #{review.book.rating}
                img(src="/images/star.png" class="h-[1.5rem] m-1")
            div(class="m-5 text-2xl font-light")!=he.decode(review.review)
        
        div(class='flex justify-between w-[70%] p-5 m-auto italic border-y-2 border-accent')
            each tag in review.tags
                a(href=tag.url class="font-bold") ##{tag.name}

        if user && user.is_admin
            div(class="flex justify-center")      
                a(href=`${review.book.review_url}/update` class="rounded-lg bg-edit hover:bg-edit-faded text-white text-xl m-5 p-2") Edit
                a(href=`${review.book.review_url}/delete` class="rounded-lg bg-delete hover:bg-delete-faded text-white text-xl m-5 p-2") Delete

        div#comments(class="w-[80%] m-auto relative text-center")
            div#comments-header(class="text-lg m-5") #{review.comments.length} Comment(s)
            button#open-form(class="bg-accent p-2 w-min hover:bg-accent-faded text-white m-5") Comment
            form#comment-form(class="hide pop-up")
                button#close-form(type="button" class="text-orange text-lg") x
                label(for='name' class="text-xl") Name
                input#name(name='name' type='text' class="bg-neutral-100 w-4/6" value=(undefined===guest ? '' : guest.name))
                label(for='text' class="text-xl") Comment
                textarea#text(name='text'  type='text' class="bg-neutral-100 w-5/6 p-5 max-h-[100px]" required value=(undefined===guest ? '' : guest.text))
                button(type='submit' class="bg-accent p-2 w-min hover:bg-accent-faded text-white text-lg m-5") Submit
                #error-container
                    ul

            each comment in review.comments 
                div.comment-container(id=comment._id)
                    if user && user.is_admin
                        img.delete-comment(src="/images/delete.png" class="absolute right-5 p-2 top-2")
                    div.comment-header(class="comment-header flex align-bottom pb-2")
                        div.comment-name #{comment.name}
                        div.comment-date #{moment(comment.timestamp).fromNow()}
                    div.comment-text #{comment.text}            
    
    script(type="application/javascript" src="/javascripts/comment-form.js")

