extends layout

block content
    div(class="text-4xl text-center p-5") Delete Book

    if book_review

        div(class="text-2xl text center p-5") #[strong Delete the following review before attempting to delete this book.]

        a(href=book_review.url class="p-2 my-3 mx-auto") A Review of #{book.title} by #{book.author}

    else
        div(class="text-2xl text center p-5") Do you really want to delete 
            span #[strong #{book.title} by #{book.author}?]

        form(method='POST' action='')
            input#bookid(type='hidden',name='bookid', required='true', value=book._id )
            button(type='submit' class="p-5 bg-accent hover:bg-accent-faded text-white text-xl m-5") Delete
