//- This is a list of all posts with a specific tag name (ie "fantasy")
extends layout

block content
  #content
    div(class='flex flex-wrap justify-center w-5/6 m-auto text-center')
      if reviews.length
        each review in reviews
          div(class='hover:text-accent w-[300px] h-[450px] relative m-4 overflow-hidden whitespace-nowrap text-ellipsis flex flex-col justify-center')
            img(src=he.decode(review.book.book_cover_url) class='shadow-lg h-[400px] w-[300px]')
            a(href=review.url class='w-full h-full absolute top-0 left-0 opacity-0') url
            a(href=review.url class='text-xl overflow-hidden whitespace-nowrap text-ellipsis')  A Review: #{review.book.title} by #{review.book.author}
      else 
        p There are no posts.