extends layout

block content
  #content
    div(class='text-2xl font-bold text-center p-5') Books Read in #{month} #{year}
    div(class='flex flex-wrap')
      each book in books
        div(class='flex flex-col justify-center w-[250px]')
          img(class='wrap-up-detail-book-cover-img' src=he.decode(book.book_cover_url))
          p #{book.title}
          p By: #{book.author}
          p #{book.rating}/5 stars
      else 
        p There are no books for this month.

    if user && user.is_admin
      p
        a(href=`${wrapUp.url}/update`) Edit
      p
        a(href=`${wrapUp.url}/delete`) Delete
    
    div#comments
      h2 #{wrapUp.comments.length} Comments
      button#open-form Comment
      form#comment-form(class="hide")
        button#close-form(type="button") x
        label(for='name') Name
        input#name(name='name' type='text')
        label(for='text') Comment
        input#text(name='text'  type='text' required)
        button(type='submit') Submit
        #error-container 
          ul

      each comment in wrapUp.comments 
        div.comment-container(id=comment._id)
          if user && user.is_admin
            img.delete-comment(src="/images/delete.png")
          div.comment-header
            div.comment-name #{comment.name}
            div.comment-date #{moment(comment.timestamp).fromNow()}
          div.comment-text #{comment.text}
  
  script(type="application/javascript" src="/javascripts/comment-form.js")


