extends ../shared/navbar-content.pug

block content 
    div(class="mx-40 mt-10")
        hr(class="border-t-2 border-accent-faded border-dotted")
        div(class="font-bold text-3xl p-2") My #{month} #{year} Wrap Up
        hr(class="border-t-2 border-accent-faded border-dotted")
        each book in books
            if book.is_favorite === true
                div(class="m-10")
                    div(class="flex justify-evenly")
                        div(class="w-1/2")
                            div Spotlight Book of the Month
                            div(class="text-2xl")!=he.decode(book.title)
                            div(class="text-xl mb-5")!="by " + he.decode(book.author)
                            div(class="text-lg underline underline-offset-4") Synopsis
                            div(class="text-xl")!=he.decode(book.synopsis)
                            div(class="border-2 border-dotted border-accent p-5")
                                img(class="w-2/3 m-auto" src="/images/my_thoughts.png")
                                div(class="text-xl m-10") I'm a huge fan of Naomi Novik's writing and I'm so happy to have started The Scholomance series. There's an over powerered, sassy main character who's prophesized to be a villian, romance, and one of the most unique magic systems I've read so far. I can't wait to continue with books 2&3!  
                        div(class="w-1/2")
                            img(class="w-1/2 m-auto" src=book.book_cover_url alt="Book Cover")
                            div(class="text-center text-xl mt-5") My Rating
                            div(class="flex justify-center")
                                - var n = 0;
                                div(class="flex justify-center")
                                    while n < book.rating
                                        img(class="w-12 h-12 m-2" src="/images/star.png" id=n++)
        hr(class="border-t-2 border-accent-faded border-dotted m-20")

        div(class="bg-black pt-20")
            div Books Read
                each book in books
                    div(class="bold text-xl bg-accent-faded p-2")!=he.decode(book.title)
                    div(class="text-lg")!="by " + he.decode(book.author)
                    div(class="flex")
                        if book.is_favorite !== true
                            div(class="flex justify-center pb-20 flex-wrap min-w-[33%]")
                                div(class="m-5 flex items-center flex-col")
                                    //- div(class="bold text-xl bg-accent-faded p-2")!=he.decode(book.title)
                                    //- div(class="text-lg")!="by " + he.decode(book.author)
                                    img(class='w-[200px] h-[300px] my-5' src=he.decode(book.book_cover_url))
                            if book.synopsis
                                div(class="w-1/2")
                                    - var n = 0;
                                    div(class="my-4")
                                        div(class="mr-5 font-bold text-xl") My Rating
                                        div(class="flex justify-start")
                                            while n < book.rating
                                                img(class="w-10 h-10 mx-1 my-2" src="/images/star.png" id=n++)
                                    a(href="" class="mr-5 font-bold text-xl my-5") ðŸ“š Goodreads
                                    div(class="flex w-min justify-center items-center my-5")
                                        //- div(class="text-xl") âœï¸
                                        div(class="mr-5 font-bold text-xl whitespace-nowrap hover:cursor-pointer" onclick=`toggleSynopsis(event)`) âœï¸ Synopsis
                                        div(class="arrow triangle-right" onclick=`toggleSynopsis(event)`)
                                    div(class="synopsis-detail")!=he.decode(book.synopsis || "")


        div(class="pb-20")                 
            div(class="font-bold text-4xl text-center m-10") Genres 
            img(class="w-1/2 m-auto" src="https://firebasestorage.googleapis.com/v0/b/book-blog-951ba.appspot.com/o/graphs%2Fjuly-24.svg?alt=media&token=bea9d0ee-55c3-434e-b67a-a0a5321fe08f" alt="genre graph")

        div(class="pb-20")
            div(class="font-bold text-4xl text-center m-10") Reading Stats
            div(class="flex justify-center")
                div(class="mx-10 flex flex-col justify-end")
                    div(class="text-6xl") 4
                    div(class="") books
                div(class="mx-10 flex flex-col justify-end")
                    div(class="text-6xl") #{totalPages}
                    div pages read
                div(class="mx-10 flex flex-col justify-end")
                    div(class="flex")
                            img(class="w-12 mr-2" src="/images/star.png")
                            img(class="w-12 mr-2" src="/images/star.png")
                            img(class="w-12 mr-2" src="/images/star.png")
                    div average rating
                
        div(class="pb-20")
            div(class="font-bold text-4xl text-center m-10") New Authors
            div(class="flex justify-center text-purple-400")
                a(href="https://www.goodreads.com/author/show/8202155.Heather_Fawcett" class="m-5 text-xl") Heather Fawcett
                a(href="https://www.goodreads.com/author/show/14428012.Krystal_Sutherland" class="m-5 text-xl") Krystal Sutherland
                div(href="https://www.goodreads.com/author/show/47049416.A_B_Poranek" class="m-5 text-xl") A.B. Poranek

        div(class="font-bold text-4xl text-center m-10") DNF's
        div(class="flex justify-center") No DNF's this month
            

    if user && user.is_admin
      div(class="flex justify-center")      
        a(href=`${wrapUp.url}/update` class="rounded-lg bg-edit hover:bg-edit-faded text-white text-xl m-5 p-2") Edit
        a(href=`${wrapUp.url}/delete` class="rounded-lg bg-delete hover:bg-delete-faded text-white text-xl m-5 p-2") Delete
    
    hr(class="border-t-2 border-accent-faded border-dotted m-20")
    
    div#comments(class="w-[400px] m-auto text-center")
      div#comments-header(class="text-2xl") #{wrapUp.comments.length} Comment(s)
      button#open-form(class="p-2 bg-accent hover:bg-accent-faded text-white text-lg m-5") Comment
      form#comment-form(class="hide pop-up")
        button#close-form(type="button" class="text-orange text-lg") X
        label(for='name' class="text-xl") Name
        input#name(name='name' type='text' class="bg-neutral-100 w-4/6" value=(undefined===guest ? '' : guest.name))
        label(for='text' class="text-xl") Comment
        textarea#text(name='text'  type='text' class="bg-neutral-100 w-5/6 p-5 max-h-[100px]" required)
        button(type='submit' class="p-2 bg-accent hover:bg-accent-faded text-white text-lg m-5") Submit
        #error-container 
          ul

      each comment in wrapUp.comments 
        div.comment-container(id=comment._id)
          if user && user.is_admin
            img.delete-comment(src="/images/delete.png")
          div.comment-header
            div.comment-name #{comment.name}
            div.comment-date #{moment(comment.timestamp).fromNow()}
          div.comment-text #{he.decode(comment.text)}
          
    script(type="application/javascript" src="/javascripts/comment-form.js")
    script(type="application/javascript" src="/javascripts/toggle-synopsis.js")